<ion-content class="login-content" padding>
    <div class="login-box">
        <h1 class="login-title">Criar Prova</h1>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label>Disciplina</ion-label>
                    <ion-select [(ngModel)]="disciplina">
                        <div *ngFor="let item of disciplinas | async">
                            <div *ngIf="idProfessor == item.uidProfessor">
                                <ion-option value="{{ item.key}}">{{item.nome }}</ion-option>
                            </div>
                        </div>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>Estagio</ion-label>
                        <ion-select [(ngModel)]="estagio">
                            <ion-option value=1>1 Estagio</ion-option>
                            <ion-option value=2>2 Estagio</ion-option>
                        </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-list>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-textarea type="text" placeholder="Descrição" name="Descrição" [(ngModel)]="questao.descricao"></ion-textarea>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row *ngFor="let altenativa of questao.altenativa">
                <ion-col>
                    <ion-item>
                        <ion-textarea type="text" placeholder="Descrição da Alternativa" name="Descrição da Alternativa" [(ngModel)]="altenativa.descricao"></ion-textarea>
                    </ion-item>
                </ion-col>
                <ion-col class="marginAltenativa">
                    <ion-item>
                        <ion-checkbox [(ngModel)]="altenativa.validacao"></ion-checkbox>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-list>
        <ion-row>
            <ion-col class="signup-col">
                <button ion-button class="submit-btn" full type="submit" (click)="adicionarQuestao()">Criar Prova</button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="signup-col">
                <button ion-button class="submit-btn-cancel" full type="button" (click)="cancelar()">Cancelar</button>
            </ion-col>
        </ion-row>
    </div>
</ion-content>