<app-menu-professor></app-menu-professor>
<div class="centralizar">
    <div class="container ">
        <div class="col-md-5 ">
            <div class="form-area">
                <form role="form">
                    <br style="clear:both">
                    <h3 style="margin-bottom: 25px; text-align: center;">Cadastra Aluno</h3>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Diciplina</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                              <option>Laboratório de Sistemas de Informação</option>
                              <option>Métodos Avançados de Programação</option>
                              <option>Engenharia de Software</option>
                            </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Aluno" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Email" required>
                    </div>

                    <button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Submit Form</button>
                </form>
            </div>
        </div>
    </div>
</div>