<div class="container">

    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">

        <div class="row">
            <div class="iconmelon">
                <img src="assets/imagens/logo.png" class="logo">
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title text-center">Projeto LAB SI</div>
            </div>

            <div class="panel-body">



                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="user" type="text" class="form-control" [(ngModel)]="user">
                </div>

                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" [(ngModel)]="password">
                </div>

                <button class="btn btn-info btn-lg btn-block" (click)="login()">Login</button>
                <div>
                    <button class="btn btn-default btn-pressure pull-right" [routerLink]="['/register']">Registra</button>
                </div>



            </div>
        </div>
    </div>
</div>