
<ion-content class="login-content" padding>
    <div class="login-box">
        <h1 class="login-title">Prova de {{providerAluno.nomeDisciplina}}</h1>
        <ion-list>
            <div *ngFor="let questao of prova ; let i = index;">
                <ion-list padding *ngIf="vez == i">
                        <h1 >Questao {{i+1}}: {{questao.descricao}}</h1>
                        <ion-list radio-group>
                            <h2 >Alternativas</h2>
                            <div>
                                <ion-item *ngFor="let altenativa of questao.altenativa">
                                    <ion-label >{{altenativa.descricao}}</ion-label>
                                    <ion-radio (click)="selecionada(altenativa.validacao)"></ion-radio>
                                </ion-item>
                            </div>
                            <ion-row>
                                <ion-col class="signup-col">
                                    <button ion-button class="submit-btn" full type="submit" (click)="responder()">Proxima</button>
                                </ion-col>
                            </ion-row>
                        </ion-list>
                </ion-list>
            </div>
            <div *ngIf="vez == 10">
                <ion-list>
                    <ion-row>
                        <ion-col class="signup-col">
                            <h1 align="center">Nota: {{nota}}</h1>
                            <button ion-button class="submit-btn-cancel" full type="button" (click)="sair()">Cancelar</button>
                        </ion-col>
                    </ion-row>
                </ion-list>
            </div>
        </ion-list>
    </div>
</ion-content>