<app-menu-professor></app-menu-professor>
<div class="centralizar">
    <div class="container ">
        <div class="col-md-5 ">
            <div class="form-area">
                <form role="form">
                    <br style="clear:both">
                    <h3 style="margin-bottom: 25px; text-align: center;">Prova</h3>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Diciplina</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                              <option>Laboratório de Sistemas de Informação</option>
                              <option>Métodos Avançados de Programação</option>
                              <option>Engenharia de Software</option>
                            </select>
                    </div>
                    <button type="button" class="btn btn-primary btn-lg btn-block">Gera Prova</button>
                </form>
            </div>
        </div>
    </div>
</div>