<app-menu-professor></app-menu-professor>
<div class="well margin">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Diciplina</th>
                <th>Nota</th>
                <th style="width: 36px;"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Laboratório de Sistemas de Informação</td>
                <td>8.0</td>
                <td>
                    <a href="user.html"><i class="icon-pencil"></i></a>
                    <a href="#myModal" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Métodos Avançados de Programação</td>
                <td>8.0</td>
                <td>
                    <a href="user.html"><i class="icon-pencil"></i></a>
                    <a href="#myModal" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Engenharia de Software</td>
                <td>6.5</td>
                <td>
                    <a href="user.html"><i class="icon-pencil"></i></a>
                    <a href="#myModal" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>Laboratório de Sistemas de Informação</td>
                <td>5.0</td>
                <td>
                    <a href="user.html"><i class="icon-pencil"></i></a>
                    <a href="#myModal" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>Métodos Avançados de Programação</td>
                <td>7.0</td>
                <td>
                    <a href="user.html"><i class="icon-pencil"></i></a>
                    <a href="#myModal" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
                </td>
            </tr>
            <tr>
                <td>6</td>
                <td>Engenharia de Software</td>
                <td>10.0</td>
                <td>
                    <a href="user.html"><i class="icon-pencil"></i></a>
                    <a href="#myModal" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>